@{
    ViewData["Title"] = "Home Page";
}

<section>
    <h1>Welcome</h1>
    <ul>
        <li><a asp-controller="user" asp-action="start">User</a></li>
        <li><a asp-controller="store" asp-action="start">Store</a></li>
    </ul>
</section>
