@{
    ViewData["Title"] = "Customer Page";
}

<section>
    <h2>Option Menu</h2>
     <ul>
        <li><a asp-controller="order" asp-action="start">New Order</a></li>
        <li><a asp-controller="user" asp-action="start">Show History</a></li>
    </ul>
</section>