@{
    ViewData["Title"] = "Customer Page";
}

<div>
    <h2>Option Menu</h2>
     <ul>
        <li><a asp-controller="order" asp-action="start">Add Pizza</a></li>
        <li><a asp-controller="store" asp-action="start">Show Cart</a></li>
        <li><a asp-controller="user" asp-action="start">Place Order</a></li>
        <li><a asp-controller="user" asp-action="start">Show History</a></li>
    </ul>
</div>