@{
    ViewData["Title"] = "Store Page";
}

<div>
    <h2>Option Menu</h2>
    <form asp-action="AddLocation" method=""> 
        
    </form>
    <button>Add New Location</button>
    <button>Show Order History</button>
</div>